@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Paytone+One&family=Squada+One&display=swap');

.font-noto {
  font-family: $font-noto;
}
.font-squada {
  font-family: $font-squada;
}
.font-paytone {
  font-family: $font-paytone;
}