<div class="container-fluid border-top border-1 px-0">
  <div class="container-fluid mt-2 border-top border-4 px-0">
    <footer class="text-center font-noto my-6">
      © ART NFT. All Rights Reserved
    </footer>
  </div>
</div>
