.vertical-lr {
  writing-mode: vertical-lr;
}

.h-373-px-lg {
  @include pc {
    height: 373px;
  }
}
.artist-photo {
  height: 300px;
}


.zindex-1 {
  z-index: 1;
}

.card-image-sm {
  border-bottom: 1px solid $dark;
  width: 90px;
  height: auto;
  &:hover, &.hvr { // hover後
    cursor: pointer;
    &::after { //半透明圖
      content: 'MORE';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.7;
      background-color: #000;
      color: $light;
      display: flex;
      justify-content: center;
      align-items: center;
      @include pc {
        // 456 桌機版型 hover 圖片中有 more 字樣
        // content: '';
        opacity: 0.7;
      }
    }
    .card-button-sm { //開啟 button
      display: block;
      z-index: 1;
    }
  }
}

.card-image {
  border-bottom: 1px solid $dark;
  width: 90px;
  height: auto;
  @include pc {
    width: 100%;
    height: 100%;
  }
  &:hover, &.hvr { // hover後
    cursor: pointer;
    &::after { //半透明圖
      content: 'MORE';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.7;
      background-color: #000;
      color: $light;
      display: flex;
      justify-content: center;
      align-items: center;
      @include pc {
        content: '';
        opacity: 0.5;
      }
    }
    .card-button { //開啟 button
      display: block;
      z-index: 1;
    }
  }
}

.card-artwork {
  width: 100%;
  height: 100%;
  // 手機板型可以取消 hover 效果，因為雖然手機沒 hover 但 touch 瞬間是會有 hover 效果的~
  @include pc {
    &:hover {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.7;
        background-color: #000;
        color: $light;
        @include pc {
          content: '';
          opacity: 0.5;
        }
      }
      .artwork-aide {
        z-index: 1;
        display: block;
      }
    }
  }
}


//輪播
.swiper {
  &-container {
    width: 100%;
    margin-top: -24px;
    // margin: 24px 0 40px 0;
    @include pc {
      margin: 48px 0 80px 0;
    }
  }
  &-restrict {
    //限制輪播會超出造成x軸的情形
    overflow: hidden;
  }

  &-wrapper {
    align-items: center;
  }
  &-slide {
    opacity: 1;
    overflow: hidden;
    transition: .7s;
    & img {
      width: 100%;
    }
    
    &.artist-item { //有兩個輪播系統共用，需個別套用
      filter:grayscale(100%);
      transform: scale(0.7);
    }
    &-active.artist-item {
      opacity: 1;
      z-index: 1;
      filter: none;
      @include pc {
        transform: scale(1);
      }
    }
  }

  //分頁
  &-pagination {
    position: unset;
    width: auto;
    // 手機板型，pagination 與 swiper 間距可以再調整一下
    &-distance {
      margin-top: -36px;
      @include pc {
        margin-top: 48px;
      }
    }
    
    //單一樣式
    .swiper-pagination-bullet {
      background-color: $dark;
      opacity: initial;
      border-radius: 0px;
      //點選後的樣式
      &-active {
        background-color: $primary;
        width: 16px;
      }
    }
  }
}

.artist {
  &-title {
    font-size: 32px;
    line-height: 34px;
    color: $light;
    position: absolute;
    top: 12px;
    left: 12px;
    font-weight: normal;
    @include pc {
      font-size: 48px;
      line-height: 50px;
    }
  }
  &-more {
    font-size: 18px;
    line-height: 19px;
    padding: 8px 48px;
    position: absolute;
    font-weight: normal;
    bottom: 8px;
    right: 8px;
    @include pc {
      bottom: 24px;
      right: 24px;
    }
  }
  &-intro {
    @include pc {
      opacity: 0.85;
      width: 50%;
      position: absolute;
      bottom: 12px;
      left: 12px;
    }
  }
}

.icon-16 {
  width: 16px;
  height: 16px;
}

.wallet {
  &-grp.active {
    border-color: $primary;
    .wallet-chk {
      display: block;
    }
  }
  &-link {
    width: 100%;
    @include pc {
      width: auto;
    }
  }
}