
.avatar-icon-48 {
  width: 48px;
  height: 48px;
}

.icon-10 {
  width: 10px;
  height: 10px;
}
.bottom-right-8-px {
  bottom: 8px;
  right: 8px;
}

// 手機板型 + - 號可點擊範圍可以在大一點
.collapseBtn {
  width: 64px;
  height: 64px;
}