<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <%- include('./partials/header'); %>

    <%- contents %>

    <%- include('./partials/footer'); %>

    <div class="modal fade" id="myWallet" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-light text-center">
          <div class="d-flex justify-content-center py-4 px-3 mb-6 border-bottom">
            <h5 class="modal-title fz-4 flex-grow-1">連結你的錢包</h5>
            <button type="button" class="btn-close d-lg-none" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body">
            <form class="form">
              <div class="container d-flex flex-column justify-content-between justify-content-lg-start">
                <div class="row">
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect01.png" alt="connect01.png">
                        <span class="fz-6 lh-17 my-1">MetaMask</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect02.png" alt="connect02.png">
                        <span class="fz-6 lh-17 my-1">Coinbase Wallet</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect03.png" alt="connect03.png">
                        <span class="fz-6 lh-17 my-1">WalletConnect</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect04.png" alt="connect04.png">
                        <span class="fz-6 lh-17 my-1">Phantom</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect05.png" alt="connect05.png">
                        <span class="fz-6 lh-17 my-1">Glow</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect06.png" alt="connect06.png">
                        <span class="fz-6 lh-17 my-1">Fortmatic</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                </div>
                <div class="my-lg-6">
                  <button class="btn btn-primary text-light border">連結錢包</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- 輪播swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script src="./assets/js/vendors.js"></script>

    <!-- 瀑布流套件 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script> -->
    <!-- <script src="./assets/js/masonry.pkgd.min.js"></script> -->

    <!-- images loaded 套件(圖片都載入之後，才會呈現 masonry) -->
    <!-- <script src="./assets/js/imagesloaded.pkgd.min.js"></script> -->

    <script src="./assets/js/all.js"></script>
  </body>

</html>