<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <%- include('./partials/header'); %>
    <div class="bg-light">
      <div class="container">
        <div class="burger-menu collapse d-block d-lg-none pb-6 pb-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav text-center mb-6 mb-lg-0">
            <li class="nav-item">
              <a class="py-6 py-lg-10 px-lg-12 fw-bold border-bottom border-bottom-lg-0 border-left-lg fz-5 fz-lg-6" href="./search.html">探索</a>
            </li>
            <li class="nav-item">
              <a class="py-6 py-lg-10 px-lg-12 fw-bold border-left-lg fz-5 fz-lg-6" href="./market-capitalisation.html">市值</a>
            </li>
            <li class="nav-item">
              <a class="link-wallet py-3 fw-normal border bg-primary text-light d-block d-lg-none fz-5" href="#myWallet" role="button" data-bs-toggle="modal">連結錢包</a>
              <a class="py-lg-10 pl-lg-12 fw-bold border-left-lg d-none d-lg-block" href="#myWallet" role="button" data-bs-toggle="modal"><i class="fa-solid fa-wallet"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <%- contents %>

    <%- include('./partials/footer'); %>

    <div class="modal fade" id="myWallet" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-light text-center">
          <div class="d-flex justify-content-center py-4 px-3 mb-6 border-bottom">
            <h5 class="modal-title fz-4 flex-grow-1">連結你的錢包</h5>
            <button type="button" class="btn-close d-lg-none" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body">
            <form class="form">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect01.png" alt="connect01.png">
                        <span class="fz-6 lh-17 my-1">MetaMask</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect02.png" alt="connect02.png">
                        <span class="fz-6 lh-17 my-1">Coinbase Wallet</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect03.png" alt="connect03.png">
                        <span class="fz-6 lh-17 my-1">WalletConnect</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect04.png" alt="connect04.png">
                        <span class="fz-6 lh-17 my-1">Phantom</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect05.png" alt="connect05.png">
                        <span class="fz-6 lh-17 my-1">Glow</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect06.png" alt="connect06.png">
                        <span class="fz-6 lh-17 my-1">Fortmatic</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                </div>
              </div>
  
            </form>
            <div class="mx-m16 mx-lg-4 mb-m16 mb-lg-4 my-lg-6 mt-32 mt-lg-6">
              <button class="wallet-link btn btn-primary text-light border py-3 py-lg-2">連結錢包</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="myFilter" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen-lg-down">
        <div class="modal-content bg-light text-center">
          <div class="d-flex justify-content-center py-4 px-3 mb-6 border-bottom">
            <h5 class="modal-title fz-4 flex-grow-1">篩選條件</h5>
            <button type="button" class="btn-close d-lg-none" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body px-0 position-relative">
            <a href="#" class="w-100 btn btn-primary text-light position-fixed bottom-0 left-50 translate-middle-x py-3 zindex-1">確認</a>

            <div class="accordion" id="network-f">
              <div class="accordion-item border-bottom-0">
                <h4 class="accordion-header" id="headingNetwork-f">
                  <button class="accordion-button artwork-chk pb-2 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNetwork-f">網路</button>
                </h4>
                <div id="collapseNetwork-f" class="accordion-collapse collapse show" data-bs-parent="#network-f">
                  <div class="accordion-body pt-2 pb-0">
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="ethereum-filter">以太坊</label>
                      <input type="checkbox" class="form-check-input" value="" id="ethereum-filter"></input>
                    </div>
                    <div class="d-flex justify-content-between pb-6 border-bottom">
                      <label class="form-check-label fz-6" for="binance-filter">BNB 智能鏈</label>
                      <input type="checkbox" class="form-check-input" value="" id="binance-filter"></input>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion" id="status-f">
              <div class="accordion-item border-bottom-0 border-top-0">
                <h4 class="accordion-header" id="headingStatus-f">
                  <button class="accordion-button artwork-chk pb-2 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStatus-f">狀態</button>
                </h4>
                <div id="collapseStatus-f" class="accordion-collapse collapse show" data-bs-parent="#status-f">
                  <div class="accordion-body pt-2">
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="exhibit-filter">僅展示</label>
                      <input type="checkbox" class="form-check-input" value="" id="exhibit-filter"></input>
                    </div>
                    <div class="d-flex justify-content-between pb-6 border-bottom">
                      <label class="form-check-label fz-6" for="auction-filter">拍賣中</label>
                      <input type="checkbox" class="form-check-input" value="" id="auction-filter"></input>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion" id="price-f">
              <div class="accordion-item border-bottom-0 border-top-0">
                <h4 class="accordion-header" id="headingPrice-f">
                  <button class="accordion-button artwork-chk pb-2 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrice-f">價格</button>
                </h4>
                <div id="collapsePrice-f" class="accordion-collapse collapse show" data-bs-parent="#price-f">
                  <div class="accordion-body pt-2 pb-0">
                    <div class="d-flex justify-content-between pb-6 border-bottom">
                      <select class="form-select mr-1">
                        <option value="1" selected>ETH</option>
                        <option value="2">BUSD</option>
                        <option value="3">USD</option>
                        <option value="4">BTC</option>
                        <option value="5">GBP</option>
                        <option value="6">EUR</option>
                        <option value="7">TW</option>
                      </select>
                      <input class="form-control mr-1" type="text" value="">
                      <input type="text" readonly class="form-control-plaintext mr-1 text-center" value="-">
                      <input class="form-control" type="text" value="">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion border-top-0 bg-light" id="character-f">

              <div class="accordion-item accordion-attr mb-6">
                <h4 class="accordion-header" id="headingCharacter-f">
                  <span class="text-gray-dark d-block mt-6 ml-6 fz-6 text-start">屬性</span>
                  <button class="accordion-button artwork-chk pb-2 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCharacter-f">品種</button>
                </h4>
                <div id="collapseCharacter-f" class="accordion-collapse collapse show" data-bs-parent="#character-f">
                  <div class="accordion-body pt-2 pb-0">
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="bird1-filter">八哥</label>
                      <input type="checkbox" class="form-check-input" value="" id="bird1-filter"></input>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="bird2-filter">虎皮鸚鵡</label>
                      <input type="checkbox" class="form-check-input" value="" id="bird2-filter" checked></input>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="bird3-filter">太平鳥</label>
                      <input type="checkbox" class="form-check-input" value="" id="bird3-filter"></input>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="bird4-filter">畫眉鳥</label>
                      <input type="checkbox" class="form-check-input" value="" id="bird4-filter"></input>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="accordion-item accordion-attr mb-6">
                <h4 class="accordion-header" id="headingAmount-f">
                  <button class="accordion-button artwork-chk pb-2 pt-0 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAmount-f">鳥的數量</button>
                </h4>
                <div id="collapseAmount-f" class="accordion-collapse collapse show" data-bs-parent="#amount-f">
                  <div class="accordion-body pt-2 pb-0">
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="birdAmount1-filter">1隻</label>
                      <input type="checkbox" class="form-check-input" value="" id="birdAmount1-filter"></input>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="birdAmount2-filter">2隻</label>
                      <input type="checkbox" class="form-check-input" value="" id="birdAmount2-filter" checked></input>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="birdAmount3-filter">3隻</label>
                      <input type="checkbox" class="form-check-input" value="" id="birdAmount3-filter"></input>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="birdAmount4-filter">4隻</label>
                      <input type="checkbox" class="form-check-input" value="" id="birdAmount4-filter"></input>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="accordion-item accordion-attr mb-6">
                <h4 class="accordion-header" id="headingFlower-f">
                  <button class="accordion-button artwork-chk pb-2 pt-0 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFlower-f">是否有花草</button>
                </h4>
                <div id="collapseFlower-f" class="accordion-collapse collapse show" data-bs-parent="#flower-f">
                  <div class="accordion-body pt-2 pb-0">
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="hasFlower-filter">有</label>
                      <input type="checkbox" class="form-check-input" value="" id="hasFlower-filter"></input>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="withoutFlower-filter">無</label>
                      <input type="checkbox" class="form-check-input" value="" id="withoutFlower-filter" checked></input>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="accordion-item accordion-attr mb-6">
                <h4 class="accordion-header" id="headingColor-f">
                  <button class="accordion-button artwork-chk pb-2 pt-0 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseColor-f">鳥的顏色</button>
                </h4>
                <div id="collapseColor-f" class="accordion-collapse collapse show" data-bs-parent="#color-f">
                  <div class="accordion-body pt-2 pb-0">
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="birdColor1-filter">紅色</label>
                      <input type="checkbox" class="form-check-input" value="" id="birdColor1-filter"></input>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="birdColor2-filter">藍色</label>
                      <input type="checkbox" class="form-check-input" value="" id="birdColor2-filter" checked></input>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="birdColor3-filter">黃色</label>
                      <input type="checkbox" class="form-check-input" value="" id="birdColor3-filter"></input>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                      <label class="form-check-label fz-6" for="birdColor4-filter">綠色</label>
                      <input type="checkbox" class="form-check-input" value="" id="birdColor4-filter"></input>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- 輪播swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script src="./assets/js/vendors.js"></script>

    <!-- 瀑布流套件 -->
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
    <!-- <script src="./assets/js/masonry.pkgd.min.js"></script> -->

    <!-- images loaded 套件(圖片都載入之後，才會呈現 masonry) -->
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <!-- <script src="./assets/js/imagesloaded.pkgd.min.js"></script> -->

    <script src="./assets/js/all.js"></script>
  </body>

</html>