<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <%- include('./partials/header'); %>
    <div class="bg-light">
      <div class="container">
        <div class="burger-menu collapse d-block d-lg-none pb-6 pb-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav text-center mb-6 mb-lg-0">
            <li class="nav-item">
              <a class="py-6 py-lg-10 px-lg-12 fw-bold border-bottom border-bottom-lg-0 border-left-lg fz-5 fz-lg-6" href="./search.html">探索</a>
            </li>
            <li class="nav-item">
              <a class="py-6 py-lg-10 px-lg-12 fw-bold border-left-lg fz-5 fz-lg-6" href="./market-capitalisation.html">市值</a>
            </li>
            <li class="nav-item">
              <a class="link-wallet py-3 fw-normal border bg-primary text-light d-block d-lg-none fz-5" href="#myWallet" role="button" data-bs-toggle="modal">連結錢包</a>
              <a class="py-lg-10 pl-lg-12 fw-bold border-left-lg d-none d-lg-block" href="#myWallet" role="button" data-bs-toggle="modal"><i class="fa-solid fa-wallet"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <%- contents %>

    <%- include('./partials/footer'); %>

    <div class="modal fade" id="myWallet" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-light text-center">
          <div class="d-flex justify-content-center py-4 px-3 mb-6 border-bottom">
            <h5 class="modal-title fz-4 flex-grow-1">連結你的錢包</h5>
            <button type="button" class="btn-close d-lg-none" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body">
            <form class="form">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect01.png" alt="connect01.png">
                        <span class="fz-6 lh-17 my-1">MetaMask</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect02.png" alt="connect02.png">
                        <span class="fz-6 lh-17 my-1">Coinbase Wallet</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect03.png" alt="connect03.png">
                        <span class="fz-6 lh-17 my-1">WalletConnect</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect04.png" alt="connect04.png">
                        <span class="fz-6 lh-17 my-1">Phantom</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect05.png" alt="connect05.png">
                        <span class="fz-6 lh-17 my-1">Glow</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                  <div class="col-lg-6 mb-2">
                    <a class="wallet-grp p-4 d-flex justify-content-between border">
                      <div>
                        <img class="icon-16 mr-4 my-1 d-inline-block align-middle" src="./assets/images/logo/connect06.png" alt="connect06.png">
                        <span class="fz-6 lh-17 my-1">Fortmatic</span>
                      </div>
                      <i class="wallet-chk fa-solid fa-check align-middle my-1 text-primary d-none"></i>
                    </a>
                  </div>
                </div>
              </div>
  
            </form>
            <div class="mx-m16 mx-lg-4 mb-m16 mb-lg-4 my-lg-6 mt-32 mt-lg-6">
              <button class="wallet-link btn btn-primary text-light border py-3 py-lg-2">連結錢包</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 輪播swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script src="./assets/js/vendors.js"></script>

    <!-- 瀑布流套件 -->
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
    <!-- <script src="./assets/js/masonry.pkgd.min.js"></script> -->

    <!-- images loaded 套件(圖片都載入之後，才會呈現 masonry) -->
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <!-- <script src="./assets/js/imagesloaded.pkgd.min.js"></script> -->

    <script src="./assets/js/all.js"></script>
  </body>

</html>