//position:
$utilities: map-merge(
  $utilities, (
    "start": map-merge(
      map-get( $utilities, "start"),
      (class: left)
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "end": map-merge(
      map-get( $utilities, "end"),
      (class: right)
    )
  )
);

//border:
$utilities: map-merge(
  $utilities, (
    "border-start": map-merge(
      map-get( $utilities, "border-start"),
      ( responsive: true),
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "border-end": map-merge(
      map-get( $utilities, "border-end"),
      ( responsive: true),
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "border-top": map-merge(
      map-get( $utilities, "border-top"),
      ( responsive: true),
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "border-bottom": map-merge(
      map-get( $utilities, "border-bottom"),
      ( responsive: true),
    )
  )
);

$utilities: map-merge(
  $utilities, (
    "border-start": map-merge(
      map-get( $utilities, "border-start"),
      (class: border-left)
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "border-end": map-merge(
      map-get( $utilities, "border-end"),
      (class: border-right)
    )
  )
);

$utilities: map-merge(
  $utilities, (
    "border-color": map-merge(
      map-get( $utilities, "border-color"),
      ( responsive: true),
    )
  )
);

//margin:
$utilities: map-merge(
  $utilities, (
    "margin-start": map-merge(
      map-get( $utilities, "margin-start"),
      (class: ml)
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "margin-end": map-merge(
      map-get( $utilities, "margin-end"),
      (class: mr)
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "negative-margin-start": map-merge(
      map-get( $utilities, "negative-margin-start"),
      (class: ml)
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "negative-margin-end": map-merge(
      map-get( $utilities, "negative-margin-end"),
      (class: mr)
    )
  )
);

//padding:
$utilities: map-merge(
  $utilities, (
    "padding-start": map-merge(
      map-get( $utilities, "padding-start"),
      (class: pl)
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "padding-end": map-merge(
      map-get( $utilities, "padding-end"),
      (class: pr)
    )
  )
);

$utilities: map-merge(
  $utilities, (
    "position": map-merge(
      map-get($utilities, "position"),
      ( responsive: true),
    ),
  )
);

//font-size:
$utilities: map-merge(
  $utilities, (
    "font-size": map-merge(
      map-get( $utilities, "font-size"),
      (class: fz)
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true),
    ),
  )
);

$utilities: map-merge(
  $utilities, (
    "font-weight": map-merge(
      map-get($utilities, "font-weight"),
      ( responsive: true),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (
            5: 5%,
            10: 10%,
            15: 15%,
            20: 20%,
            23: 23%,
            24: 24%,
            30: 30%,
            35: 35%,
            40: 40%,
            45: 45%,
            55: 55%,
            60: 60%,
            65: 65%,
            70: 70%,
            80: 80%,
            85: 85%,
            90: 90%,
            95: 95%
          )
        )
      )
    )
  )
);

// line-height(倍數)
$utilities: map-merge(
  $utilities,
  (
    "line-height": map-merge(
      map-get($utilities, "line-height"),
      (
        values: map-merge(
          map-get(map-get($utilities, "line-height"), "values"),
          (
            sm: $line-height-sm,
            md: $line-height-md,
          )
        )
      )
    )
  )
);

// 特殊line-height(指定)
$utilities: map-merge(
  $utilities,
  (
    "line-height": map-merge(
      map-get($utilities, "line-height"),
      (
        values: map-merge(
          map-get(map-get($utilities, "line-height"), "values"),
          (
            "17": $line-height-17px,
            "18": $line-height-18px,
            "19": $line-height-19px,
            "21": $line-height-21px,
            "26": $line-height-26px,
            "32": $line-height-32px,
            "34": $line-height-34px,
            "40": $line-height-40px,
            "46": $line-height-46px,
            "50": $line-height-50px,
            "70": $line-height-70px,
            "85": $line-height-85px
          )
        ),
      ),
    ),
  )
);
$utilities: map-merge(
  $utilities, (
    "line-height": map-merge(
      map-get($utilities, "line-height"),
      ( responsive: true),
    ),
  )
);

//新增屬性
$utilities: map-merge(
  $utilities,
  (
    "object-fit": (
      property: object-fit,
      class: object,
      values: fill contain cover scale-down none
    )
  )
);
$utilities: map-merge(
  $utilities,
  (
    "object-position": (
      property: object-position,
      class: object,
      values: (
        top: top,
        right: right,
        bottom: bottom,
        left: left,
        center: center,
        "left-top": left top,
        "right-top": right top,
        "right-bottom": right bottom,
        "left-bottom": left bottom
      )
    )
  )
);

$utilities: map-merge(
  $utilities,
  (
    "opacity": (
      property: opacity,
      values: (
        0: 0,
        25: .25,
        50: .5,
        75: .75,
        100: 1,
      )
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "background-size": (
      property: background-size,
      class: bg,
      values: auto cover contain
    )
  )
);
$utilities: map-merge(
  $utilities,
  (
    "background-repeat": (
      property: background-repeat,
      class: bg,
      values: (
        repeat: repeat,
        "no-repeat": no-repeat,
        "repeat-x": repeat-x,
        "repeat-y": repeat-y,
        "repeat-round": round,
        "repeat-space": space
      )
    )
  )
);
$utilities: map-merge(
  $utilities,
  (
    "background-position": (
      property: background-position,
      class: bg,
      values: (
        top: top,
        right: right,
        bottom: bottom,
        left: left,
        center: center,
        "left-top": left top,
        "right-top": right top,
        "right-bottom": right bottom,
        "left-bottom": left bottom
      )
    )
  )
);
$utilities: map-merge(
  $utilities,
  (
    "background-attachment": (
      property: background-attachment,
      class: bg,
      values: fixed local scroll
    )
  )
);