//color

$primary:       #E6553B;
$secondary:     #53C139;

$gray-light:    #F0F0F0;
$gray-dark:     #808080;

// 是否在生成通用類別樣式後方加上 !important（預設是 true）。
$enable-important-utilities:  false !default;
$enable-negative-margins:     true !default;

$body-bg:                   $gray-light !default;
$body-color:                #000 !default;
$body-text-align:           null !default;

$spacer: 1rem !default;

$grid-columns:                12 !default;
$grid-gutter-width:           1.5rem !default;
$container-padding-x: $grid-gutter-width * .5 !default;

$enable-grid-classes:         true !default;

$font-size-base:              1rem !default;
$h1-fz:                $font-size-base * 3 !default; //48px
$h2-fz:                $font-size-base * 2 !default; //32px
$h3-fz:                $font-size-base * 1.75 !default; //28px
$h4-fz:                $font-size-base * 1.5 !default; //24px
$h5-fz:                $font-size-base * 1.375 !default; //22px
$h6-fz:                $font-size-base * 1.25 !default; //20px
$h7-fz:                $font-size-base * 1.125 !default; //18px
$h8-fz:                $font-size-base !default; //16px
$h9-fz:                $font-size-base * .875 !default; //14px
$h10-fz:               $font-size-base * .75 !default; //12px

$font-noto : 'Noto Sans TC';
$font-squada: 'Squada One';
$font-paytone: 'Paytone One';

// 特殊行高
$line-height-17px: 17px;
$line-height-18px: 18px;
$line-height-19px: 19px;
$line-height-21px: 21px;
$line-height-26px: 26px;
$line-height-32px: 32px;
$line-height-40px: 40px;
$line-height-46px: 46px;
$line-height-50px: 50px;
$line-height-70px: 70px;
$line-height-85px: 85px;

// line-height 倍數
$line-height-sm:              1.4 !default;
$line-height-base:            1.5 !default;
$line-height-md:              1.6 !default;
$line-height-lg:              2 !default;

//display-1 的樣式
$display-font-weight: 400 !default;
$display-line-height: 1.1 !default;

// 移除圓角
$enable-rounded:              false;

// 標題標籤(預設的margin)
$headings-margin-bottom: 0;
// p 標籤(預設的margin)
$paragraph-margin-bottom: 0;

//按鈕設定
$btn-padding-y:               8px; //$input-btn-padding-y !default;
$btn-padding-x:               48px; //$input-btn-padding-x !default;
$btn-font-family:             $font-squada; //$input-btn-font-family !default;
$btn-font-size:               $h7-fz; //$input-btn-font-size !default;
$btn-line-height:             $line-height-19px; //$input-btn-line-height !default;
$btn-white-space:             nowrap; //null; // Set to `nowrap` to prevent text wrapping

//卡片設定
$card-border-color:           #000; //rgba($black, .125) !default;